body{
    background: url(../images/elbicho.gif);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header{
    color: rgb(255, 0, 0);
    border: 5px dashed rgb(255, 255, 255);
    border-radius: 50px;
    padding: 20px;
    background-color: black;
    text-align: center;
    font-size: 20px;
}
h2{
    color: rgb(128, 0, 0);
}
section{
    background:rgba(255, 255, 255, 0.8);
    border: 5px dashed;
    border-radius: 50px;
    border-color: rgb(128, 0, 0);
    padding: 20px;
    opacity: 0.8;
}
nav{
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 5px dashed;
    background-color: black;
    text-align: center;
}
nav a{
    text-decoration: none;
    width: 100%;
    padding:5px 10px;
    background-color:rgb(0, 0, 0);
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(255, 0, 0);
    text-align: center;
    color:rgb(255, 255, 255);
}
nav li{
    display: inline-block;  
}
nav a:hover{
    color: red;
    background: #fff;
}
.perfil{
    position: fixed;
    float: right;
    right: 50px;
    border-radius: 20px;
    z-index: 100;
}
.carros{
    text-align: center;
}
.carros2 .s{  
    display: inline-flex;
    margin:0px 0px 40px 280px;
    
}
.motos2 .s{
    display: inline-flex;
    margin:0px 0px 40px 280px;
}
.section li{
    text-decoration: none;
}
.motos{
    text-align: center;
}

